div.icon{
    height: 80%;
    text-align: center;
    margin-top: 3%;
    float: left;
    width: 27%;
}
div.icon.firstIcon{
    margin-left: 8%;
}
div.icon.lastIcon{
    margin-right: 8%;
}
#menuNav{
    height: 10%;
}
img.iconImg{
    height: 60%;
}
span.iconName{
    font-size: 1.8rem;
}
